*
*.*
!/.editorconfig
!/.gitignore
!/.rspec
!/travis.yml
!/Gemfile
!/LICENSE.txt
!/Rakefile
!/README.md
!/remake.bat
!/vagrant-impressbox.gemspec
!/spec/
!/spec/*
!/spec/**/*
!/locales/
!/locales/*
!/locales/**/*
!/lib/
!/lib/*
!/lib/**/*
!/bin/
!/bin/*
!/bin/**/*
